// Define color variables
$lightGray: #E0E0E0;
$lightBlue: #F0F8FF;
$lightGreen: #F0FFF0;
$lavender: #E6E6FA;
$beige: #F5F5DC;
$wheat: #F5DEB3;
$peach: #FFE4B5;

// Define mixin for card wrapper styles
@mixin cardWrapperStyles($color) {
  background-color: $color;
  height: 500px;
  width: 650px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Main styles
.dashb {
  color: white;
  font-size: 24px;
  font-weight: 600;
}

.cardWrapper1 {
  background-color: $lightGray;
  height: 650px;
  width: 90%;
  margin: auto;
  margin-bottom: 25px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 50px;

  .cardWrapper2 {
    @include cardWrapperStyles($lightBlue);
    align-items: flex-end;
  }

  .cardWrapper3 {
    @include cardWrapperStyles($lightGreen);
    align-items: flex-end;
  }

  .cardWrapper4 {
    @include cardWrapperStyles($lavender);
  }

  .cardWrapper5 {
    @include cardWrapperStyles($beige);
  }

  .cardWrapper6 {
    @include cardWrapperStyles($wheat);
  }

  .cardWrapper7 {
    @include cardWrapperStyles($peach);
  }
}

@media (max-width: 768px) {
    .cardWrapper1 {
      width: 100%; // Full width on smaller screens
    }

    .cardWrapper2, .cardWrapper3, .cardWrapper4, .cardWrapper5, .cardWrapper6, .cardWrapper7 {
      width: calc(50% - 20px); // 50% width with margin between card wrappers
    }
  }

  // Media query for even smaller screens (e.g., smartphones)
  @media (max-width: 480px) {
    .cardWrapper2, .cardWrapper3, .cardWrapper4, .cardWrapper5, .cardWrapper6, .cardWrapper7 {
      width: 100%; // Full width on smaller screens
    }
  }
